<div class="andro_search-adv-cats" ng-controller="getAllLSP">
    <span>Loại giày</span>

    <div class="sub-menu">
        <div class="andro_dropdown-scroll" >
            <label ng-repeat="i in GetResultsLSP">
                <input type="checkbox" name="category1" value="food">
                    {{i.TenLoaiSanPham}}
                <i class="fas fa-check"></i>
            </label>
            
        </div>

    </div>

</div>
